@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.button{		
		@apply bg-twitter focus:outline-none text-center px-4 py-3 font-bold text-white rounded-full hover:bg-twitter-dark active:bg-twitter-dark
	}
	.input-form{		
		@apply w-full focus:outline-none focus:ring-1 focus:border-blue-500 border-gray-300 border px-4 pt-3 pb-2 text-gray-700 rounded-md text-lg 
	}	

	.special-label-holder input:focus ~ label, .special-label-holder input:not(:placeholder-shown) ~ label
	{
 		top: -5px;
        font-size: 11px;
        color: #1da1f2;
	}
}